@import "tailwindcss";

@theme {
  --font-sans: "Inter", "Outfit", ui-sans-serif, system-ui, sans-serif;
  --color-primary: #08d665;
  --color-secondary: #000;
  --color-dark: #16171d;
}

@layer base {
  body {
    @apply bg-[#0a0a0a] text-gray-300;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply text-white font-bold;
  }
}

/* Custom animations for Hero Image */
@keyframes float {
  0% { transform: translateY(0px) rotate(0deg); }
  50% { transform: translateY(-20px) rotate(2deg); }
  100% { transform: translateY(0px) rotate(0deg); }
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}

/* Glassmorphism */
.glass {
  background: rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}



/* ===== MARQUEE ANIMATION ===== */

@keyframes scrollRight {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes scrollLeft {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.marquee {
  display: flex;
  width: max-content;
  gap: 14px;
}

.marquee-row {
  overflow: hidden;
  position: relative;
  width: 100%;
  margin-bottom: 18px;
}

/* Direction control */
.scroll-right {
  animation: scrollRight 40s linear infinite;
}

.scroll-left {
  animation: scrollLeft 40s linear infinite;
}

/* ===== SIDE FADE EFFECT ===== */

.marquee-row::before,
.marquee-row::after {
  content: "";
  position: absolute;
  top: 0;
  width: 140px;
  height: 100%;
  z-index: 10;
  pointer-events: none;
}

.marquee-row::before {
  left: 0;
  background: linear-gradient(to right, #0b0b0c, transparent);
}

.marquee-row::after {
  right: 0;
  background: linear-gradient(to left, #0b0b0c, transparent);
}



.swiper-slide {
  transition: transform 0.5s ease;
}

.swiper-slide:not(.swiper-slide-active) {
  filter: blur(2px);
  opacity: 0.5;
  transform: scale(0.9);
}